$font-color: #495867;
$main-color: #FE5F55;
$secondary-color: #577399;
$tertiary-color: #BDD5EA;
$main-margin: 2rem;
$sec-margin: 1rem;
$main-padding: 1rem;
$input-padding: 0.5rem;
$heading-font-size: 2rem;
$main-font-size: 1rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
  z-index: 99;
}

.hovered {
  background-color: red;
}

.inline-icon-m {
  vertical-align: bottom;
  margin-right: 1rem;
}

.dragging {
  color: $main-color;
}