$font-color: #495867;
$main-color: #FE5F55;
$secondary-color: #577399;
$tertiary-color: #BDD5EA;
$main-margin: 2rem;
$sec-margin: 1rem;
$main-padding: 1rem;
$input-padding: 0.5rem;
$heading-font-size: 2rem;
$main-font-size: 1rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $tertiary-color;
}

.main-container {
  display: flex;
}

.navbar {
  position: fixed;
  margin: $main-margin 0;
  padding: 0 $main-padding;
  width: 25%;
  border-right: 1px solid $font-color;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: $heading-font-size;
  display: inline-block;
  margin-bottom: $sec-margin;
}

.navbar a:hover {
  color: $main-color
}

.explorer,
.settings {
  margin-left: 25%;
  width: 75%;
}

.explorer__path {
  margin-left: $main-margin;
  margin-top: $main-margin;
  font-size: $main-font-size;
  padding: $main-padding 0;
  border-bottom: 1px solid $font-color;
  border-top: 1px solid $font-color;
}

.explorer__action-bar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: $sec-margin 0;
}

.explorer__file-search {
  display: flex;
  justify-content: center;
}

.explorer__file-search-input {
  width: 50%;
  padding: $input-padding;
}

.files-table {
  margin-left: $main-margin;
}

.files-table .material-symbols-outlined {
  margin-right: 0.5rem;
}

.clickable {
  cursor: pointer;
}

.icon-row {
  width: 2em;
}

.icon-folder {
  width: 1em;
}

.icon-file {
  width: 0.75em;
}

.remote-explorer__directory-input {
  background-color: $secondary-color;
  border-radius: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 20%;
}

.remote-explorer__directory-input input {
  width: 80%;
  padding: $input-padding;
  margin-top: $main-margin;
}

.remote-explorer__directory-input i {
  color: white;
}

.files-table__back-btn td{
  padding: $main-padding 0;
}

.files-table td:hover {
  color: $main-color
}

.no-pointer-events {
  pointer-events: none;
}

.hovered {
  background-color: red;
}

.files-table__file-row {
  display: flex;
  align-items: center;
}

.file__default-position {
  transform: translate(0, 0);
}

.settings__main-heading {
  margin-top: $main-margin;
  font-size: 2rem;
}

.settings__content-wrapper {
  margin-left: $sec-margin;
}

.settings__content-wrapper > section {
  margin-top: $sec-margin;
}